<div class="micro-modal micromodal-slide" id="can-blood-modal" aria-hidden="true">
    <div class="micro-modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="micro-modal__container" role="dialog" aria-modal="true" aria-labelledby="can-blood-modal-title">
        <header class="micro-modal__header">
          <h2 class="micro-modal__title" id="can-blood-modal-title">
            {{ settings.can_blood_testing_modal_header }}
          </h2>
          <button class="micro-modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="micro-modal__content" id="can-blood-modal-content">
          {{ settings.can_blood_testing_modal_content }}
        </main>
        <footer class="micro-modal__footer">
          <button class="add button button--primary">Remove and view product page</button>
        </footer>
      </div>
    </div>
  </div>