<div class="micro-modal micromodal-slide" id="us-blood-modal" aria-hidden="true">
  <div class="micro-modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="micro-modal__container" role="dialog" aria-modal="true" aria-labelledby="us-blood-modal-title">
      <header class="micro-modal__header">
        <h2 class="micro-modal__title" id="us-blood-modal-title">
          {{ settings.us_blood_testing_modal_header }}
        </h2>
        <button class="micro-modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="micro-modal__content" id="us-blood-modal-content">
        {{ settings.us_blood_testing_modal_content }}
      </main>
      <footer class="micro-modal__footer">
        {% unless page.template_suffix == "compare" %}
        <button onclick="document.querySelector('.product-form').submit()" class="button button--primary">{{ settings.us_blood_testing_modal_button_text }}</button>
        {% endunless %}
      </footer>
    </div>
  </div>
</div>

