<div class="micro-modal micromodal-slide" id="myModal" aria-hidden="true">
    <div class="micro-modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="micro-modal__container" role="dialog" aria-modal="true" aria-labelledby="myModal-title">
        <header class="micro-modal__header">
          <h2 class="micro-modal__title" id="myModal-title">
            Micromodal
          </h2>
          <button class="micro-modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="micro-modal__content" id="myModal-content">
          <p>
            Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself. Also, <code>esc</code> to close modal.
          </p>
        </main>
        <footer class="micro-modal__footer">
          <button class="micro-modal__btn modal__btn-primary">Continue</button>
          <button class="micro-modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
        </footer>
      </div>
    </div>
  </div>