<div class="micro-modal micromodal-slide" id="find-a-lab-modal" aria-hidden="true">
    <div class="micro-modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="micro-modal__container" role="dialog" aria-modal="true" aria-labelledby="quantity-modal-title">
        <header class="micro-modal__header">
          <button class="micro-modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="micro-modal__content" id="quantity-modal-content">
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe8-dVa4z-H_egIZBfnwSJF2zOyWPQ-us&sensor=false&libraries=places"></script>

            <div id="orders_map" style="height: 396px;width: 100%;margin: 0;
            padding: 0; margin-bottom: 30px;"></div>

            <div class="find-a-lab-form">
            <h3>Enter your location to find a lab and schedule an appointment.</h3>
            <form id="lab-form" class="form form--labs">
                <div class="form-line">
                    <div class="form-column form-line__item">
                        <label class="label">
                            <span class="label__span">Find lab in</span>
                            <span class="label-hint">
                                <input class="input form-line__input cta-required find-lab-address pac-target-input" type="text" name="find-lab-address" placeholder="" value="" autocomplete="off">
                            </span>
                            <input type="hidden" name="city[0]" id="lab_input" value="0">
                            <span class="error error--general hide shipping-address-line-one"></span>
                        </label>
                    </div>
                    <div class="form-column form-line__item">
                        <label class="label dropdown-wrapper ">
                            <span class="label__span sign-up__select-label">In radius</span>
                          <select class="select-dropdown native-select-available" name="radius-select" id="radius-select">
                            <option value="10">10 miles</option>
                            <option value="20">20 miles</option>
                            <option value="30">30 miles</option>
                            <option value="50">50 miles</option>
                          </select>
                        </label>
                    </div>
                    <div class="btn-block form-line__item">
                        <button id="find-labs" type="submit" class="button button--primary --full">Find lab</button>
                    </div>
                </div>
            </form>
            </div>
            
            
            <script id="info-box" type="text/x-jquery-tmpl">
                    <div class="map-tooltip">
                        <h1 class="map-tooltip__title">${name}</h1>
                        <div class="tooltip-content">
                            <div class="tooltip-content__item">
                                <span class="tooltip-content__name">Address: </span>
                                <span class="tooltip-content__value">${address}</span>
                            </div>
                            <div class="tooltip-content__item">
                                <span class="tooltip-content__name">City: </span>
                                <span class="tooltip-content__value">${city}</span>
                            </div>
                            <div class="tooltip-content__item">
                                <span class="tooltip-content__name">State: </span>
                                <span class="tooltip-content__value">${state}</span>
                            </div>
                            <div class="tooltip-content__item">
                                <span class="tooltip-content__name">Phone: </span>
                                <span class="tooltip-content__value">${phone}</span>
                            </div>
                            <div class="tooltip-content__item">
                                <span class="tooltip-content__name">Hours: </span>
                                <span class="tooltip-content__value">${operationHours}</span>
                            </div>
                            <div class="tooltip-content__item">
                                <span class="tooltip-content__name">Distance: </span>
                                <span class="tooltip-content__value">${distance}</span>
                            </div>
                            <div class="tooltip-content__bottom">
                                <a href="https://appointment.questdiagnostics.com/patient/confirmation" target="_blank" class="map-tooltip__btn btn btn-primary">Make an appointment</a>
                                <p class="map-tooltip__footnote">This info won’t be shared with InsideTracker.</p>
                            </div>
                        </div>
                    </div>
            </script>
            
        </main>
      </div>
    </div>
  </div>

<script type="text/javascript"
                    src="https://www.insidetracker.com/skin/js/customer/libs/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://www.insidetracker.com/skin/js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="{{ 'find-a-lab.min.js' | asset_url }}"></script>