
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe8-dVa4z-H_egIZBfnwSJF2zOyWPQ-us&sensor=false&libraries=places"></script>

<div id="orders_map" style="height: 396px; width: 100%; margin: -55px 0 30px; padding: 0;"></div>

<div class="page-width">
  <div class="find-a-lab-form">
    <h2>Enter your location to find a lab and schedule an appointment</h2>
    <form id="lab-form" class="form form--labs">
        {% comment %} <label>
          Find lab in
          <input class="find-lab-address" type="text" name="find-lab-address" placeholder="" value="">
          <input type="hidden" name="city[0]" id="lab_input" value="0">
        </label>
        <label>
          <select name="radius-select" id="radius-select">
            <option value="10">10 miles</option>
            <option value="20">20 miles</option>
            <option value="30">30 miles</option>
            <option value="50">50 miles</option>
          </select>
        </label>
        <button id="find-labs" class="button button--primary --full" type="submit">Find lab</button> {% endcomment %}

        <div class="form-line">
          <div class="form-column form-line__item">
              <label class="label">
                  <span class="label__span">Find lab in</span>
                  <span class="label-hint">
                      <input class="input form-line__input cta-required find-lab-address pac-target-input" type="text" name="find-lab-address" placeholder="" value="" autocomplete="off">
                  </span>
                  <input type="hidden" name="city[0]" id="lab_input" value="0">
                  <span class="error error--general hide shipping-address-line-one"></span>
              </label>
          </div>
          <div class="form-column form-line__item">
              <label class="label dropdown-wrapper ">
                  <span class="label__span sign-up__select-label">In radius</span>
                  {% comment %} <span class="select-dropdown native-select-available" id="radius-select">
                      <span class="select-dropdown__item">
                          <span class="select-dropdown__value" data-value="radius">10 miles</span>
                          <svg class="icon arrow-down select-dropdown__icon">
                              <use xlink:href="/skin/icons/sprites/sprite-general.svg#arrow"></use>
                          </svg>
                      </span>
                      <ul class="select-dropdown__list hide">
                          <li class="select-dropdown__item selected" data-value="10">10 miles</li>
                          <li class="select-dropdown__item" data-value="20">20 miles</li>
                          <li class="select-dropdown__item" data-value="30">30 miles</li>
                          <li class="select-dropdown__item" data-value="50">50 miles</li>
                          <li class="select-dropdown__item" data-value="100">100 miles</li>
                          <li class="select-dropdown__item" data-value="500">500 miles</li>
                      </ul>
                  </span>
                  <input type="hidden" name="city[0]" id="lab_input" value="0">
                  <span class="error error--general customer-security-index hide"></span> {% endcomment %}
                <select class="select-dropdown native-select-available" name="radius-select" id="radius-select">
                  <option value="10">10 miles</option>
                  <option value="20">20 miles</option>
                  <option value="30">30 miles</option>
                  <option value="50">50 miles</option>
                </select>
              </label>
          </div>
          <div class="btn-block form-line__item">
              <button id="find-labs" type="submit" class="button button--primary --full">Find lab</button>
          </div>
      </div>
    </form>
  </div>

  <script id="info-box" type="text/x-jquery-tmpl">
          <div class="map-tooltip">
              <h1 class="map-tooltip__title">${name}</h1>
              <div class="tooltip-content">
                  <div class="tooltip-content__item">
                      <span class="tooltip-content__name">Address: </span>
                      <span class="tooltip-content__value">${address}</span>
                  </div>
                  <div class="tooltip-content__item">
                      <span class="tooltip-content__name">City: </span>
                      <span class="tooltip-content__value">${city}</span>
                  </div>
                  <div class="tooltip-content__item">
                      <span class="tooltip-content__name">State: </span>
                      <span class="tooltip-content__value">${state}</span>
                  </div>
                  <div class="tooltip-content__item">
                      <span class="tooltip-content__name">Phone: </span>
                      <span class="tooltip-content__value">${phone}</span>
                  </div>
                  <div class="tooltip-content__item">
                      <span class="tooltip-content__name">Hours: </span>
                      <span class="tooltip-content__value">${operationHours}</span>
                  </div>
                  <div class="tooltip-content__item">
                      <span class="tooltip-content__name">Distance: </span>
                      <span class="tooltip-content__value">${distance}</span>
                  </div>
                  <div class="tooltip-content__bottom">
                      <a href="https://appointment.questdiagnostics.com/patient/confirmation" target="_blank" class="map-tooltip__btn btn btn-primary">Make an appointment</a>
                      <p class="map-tooltip__footnote">This info won’t be shared with InsideTracker.</p>
                  </div>
              </div>
          </div>
  </script>
</div>


<script type="text/javascript"
        src="https://www.insidetracker.com/skin/js/customer/libs/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://www.insidetracker.com/skin/js/jquery.tmpl.min.js"></script>

<script>
(function ($) {
    var markers = [];

    function mapInit() {
        console.log('map init');
        
        var mapOptions = {
            zoom            : 10,
            disableDefaultUI: true,
            center          : new google.maps.LatLng(42.361145, -71.057083)
        };
        
        var map = new google.maps.Map(document.getElementById('orders_map'), mapOptions);
        var autocomplete = new google.maps.places.Autocomplete($('.find-lab-address').get(0));
        var infoWindow = new google.maps.InfoWindow();
        
        infoWindow.setOptions({
            pixelOffset   : new google.maps.Size(0, 5),
            disableAutoPan: false
        });
        
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var dataAddress = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                map.setCenter(dataAddress);
            });
        }

        document.querySelector("#lab-form").addEventListener("submit", function (e) {
            e.preventDefault();

            var radius = $('#radius-select').val();
            var postData = {
                address: $('.find-lab-address').val(),
                radius : radius
            };
            
            // https://www.insidetracker.com/customer/lab/load-markers/
            $.ajax({
                url     : "https://dev3.segterra.com/customer/lab/load-markers/",
                type    : "post",
                dataType: 'json',
                data    : postData,
                success : function (responseData) {
                    if (responseData.data) {
                        var yourCoords = responseData.data.you;
                        var labs = responseData.data.labs;
                        clearMarkers();
                        addMarkers(map, labs, infoWindow);
                        setMap(map, yourCoords, radius);
                    }
                }
            });
        });
        
    }
    
    google.maps.event.addDomListener(window, 'load', function () {
        console.log('map load');
        
        setTimeout(function () {
            mapInit();
        }, 500);
        
    });
    
    function setMap(map, coords, radius) {
        var dataAddress = new google.maps.LatLng(coords.lat, coords.lng);
        
        var zoom = 10;
        switch (radius) {
            case 10:
                zoom = 10;
                break;
            case 20:
                zoom = 9;
                break;
            case 30:
                zoom = 9;
                break;
            case 50:
                zoom = 8;
                break;
            case 100:
                zoom = 7;
                break;
            case 500:
                zoom = 4;
                break;
        }
        
        map.setCenter(dataAddress);
        map.setZoom(zoom);
    }
    
    function addMarkers(map, locations, infoWindow) {
        var marker, i;
        
        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i]['lat'], locations[i]['lng']),
                map     : map
            });

            markers.push(marker);
            
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                var tmplHtml = $('#info-box').tmpl(locations[i]);
                var html = tmplHtml.html();
                
                return function () {
                    infoWindow.setContent(html);
                    infoWindow.open(map, marker);
                };
            })(marker, i));
            
            
            google.maps.event.addListener(infoWindow, 'domready', function () {
                
                var infoBox = $('.gm-style-iw');
                var infoBoxWrapper = infoBox.prev();
                
                infoBox.parent().addClass('gm-style-iw--style');
                
                infoBoxWrapper.children(':nth-child(2)').css({
                    'box-shadow'      : 'none',
                    'background-color': 'transparent'
                });
                
                infoBoxWrapper.children(':nth-child(1)').css({
                    'border-top-width': '16px'
                });
                
                infoBoxWrapper.children(':nth-child(3)').find(':nth-child(2)').children().css({
                    'transform' : 'skewX(-30.6deg)',
                    'box-shadow': 'none'
                });
                
                infoBoxWrapper.children(':nth-child(3)').find(':nth-child(1)').children().css({
                    'transform' : 'skewX(30.6deg)',
                    'box-shadow': 'none'
                });
            });
        }
    }

    function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers.length = 0;
    }
})(jQuery);

</script>


{% schema %}
    {
      "name": "Find a Lab",
      "class": "find-a-lab",
      "settings": [
          
      ]
    }
{% endschema %}